*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'montserratregular','Arial',sans-serif;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;   
}
.container 
{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}




/*---------------section delivery--------------------*/

.delivery
{
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding-bottom: 69px;
    padding-top: 80px;

}
.delivery__h2{
    margin-bottom: 23px;
    letter-spacing: 2,5%;
    font-size: 30px;
    text-transform: uppercase;
}
.delivery__h2 span{
    font-weight: normal;
}
.delivery__text{
    font-size: 21px;
    font-family: 'montserratlight';

}


/*----SECTION MAN-WOMAN----*/
.man-woman .container{
display: flex;
flex-direction: row;

}
.man {
   background-color: #F9F6F1;
    width: 50%;
    padding: 60px 15px 58px;
}
.woman
{
    background-color: #F4F4F4;
    padding: 60px 15px 58px;
    width: 50%;
}
.man-woman__h2 {
    font-size: 24px;
    text-transform: uppercase;
}
.man-woman__h2 span{
    font-weight: normal;
}
.man-woman__text{
    font-family: 'montserratlight';
    font-size: 16px;
    margin-top:  25px; ;
    margin-bottom: 40px;    
}
.man-woman__link
{
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.man-woman__link:hover,
.man-woman__link:focus
{
    background-color: #8a7361;
}
.man-woman{
    background-color: #F4F4F4;
}
.man{
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.woman {
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
/*-------------------DRESS---------------------------*/
.dress{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
   
   
    
}
.dress__card
{
    background-color: #F4F4F4;
    font-family: 'montserratlight';
    min-width: 25%;
    height: 236px;
    background-image: url(../img/dress.png);
    background-repeat: no-repeat;
    
}
.dress__card:nth-child(even)
{
    background-color: #F9F6F1;
}
.dress__text
{
    padding: 186px 30px;
}
/*-------NEW MODEL--------*/
.new__h2
{
    font-family: 'montserratbold';
    text-align: center;
    font-size: 36px;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.catalog
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;

}
.card
{
text-align: center;
padding: 25px;
border: #d7b399 dashed 1px;
position: relative;
}
.new__btn{
    display: block;
    width: 220px;
    height: 55px;
    background-color: #d7b399;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    margin: 100px auto 0;
}
.new__btn:hover,.new__btn:focus
{
    background-color: #8a7361; 
}
.new .container{
    padding: 150px 15px;
}

.card__heart{
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 1;
    fill: #e4ab82;
}
.card__heart:hover, .card__heart:focus{
    fill: #8a7361;
}
/*-----------------------------------DELIVERY------------------------------*/
.subscribe
{
    background-color: #212121;
    color: #ffffff;
   
    text-align: center;
  
}
.sub__con{
    display: flex;
    flex-direction: row;
    padding-top: 72px;
    padding-bottom: 71px;
}
.subscribe__h2{

    letter-spacing: 2,5%;
    font-size: 30px;
   
    font-family: 'montserratlight';
}
.subscribe__h2 span{
    font-weight: normal;
}
.subscribe__text{
    font-size: 21px;
    

}

.sub__btn{
   
    font-family: 'montserratregular';
    border: none;
    background-color: #D7B399;
    width: 185px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    
}
.sub__btn:hover,.sub__btn:focus
{
    background-color: #8a7361; 
}
.Subs__inp{
    font-family: 'montserratlight';
    width: 255px;
    height: 40px;
    padding-left: 20px;
    margin-left: 60px;
    margin-right: 35px;
}
/*============================FOOOOOOOTER================*/
.copyright{
    background-color: #ffffff;
    color: #212121;
    
    
}
/*======================BANNER==========================*/
.banner
{
    background: #f9f6f1;
    
}
.slider__item
{
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background:url(../img/running_shoes_PNG5823.png) no-repeat right center;

}
.slider__text
{
    font-size: 30px;
}
.slider__big-text
{
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 55px;
}
.button
{
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}
.slider__item--price
{
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.slider__price--old
{
    font-size: 24px;
    text-decoration-line:line-through;
}
.slider__price--new{
    font-size: 42px;
    color: #d84033;
}
.slider_wrapper
{
    position: relative;
}
.slider__button{
    position: absolute;
    top: 50%;
    background-color: #F9F6F1;
    border: none;
    text-decoration: none;
}
.button{
    text-decoration: none;
}

.slider__button--prev{
    left: -100px;
}
.slider__button--next{
    right: -100px;
}
.slider__button:hover,.slider__button:focus
{
    background-color: #8a7361; 
}
/*==============================HEADER============================*/
.header{
    
    height: 918px;
    min-width: 17px;
    background-color:#f9f6f1 ;
    
}
.header-menu{
    height: 17px;
    padding: 61px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #f9f6f1;
}
.section__wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.mainmenu__list{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
}
.menu__link{
    color: #212121;
    text-decoration: none;
}
header a {
    text-decoration: none;
    color: black;
  }
  header ul {
    display: flex;
    list-style: none;
  }
  header li{
    margin: 20px;
  }
  .header__logo{
    margin-top: 20px;
  }
/*==================SALES=================*/
.sales
{
    padding: 150px;
}
/*=========================COPYRIGHT================*/
.copy__con
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width:1110px) {
    .container {
        width: auto;
        padding:0 30px;
    }
    }
    @media (max-width:1326px) {
        .slider__button--prev{
            left: 0;
        }
        .slider__button--next{
            right: 0;
        }
    }
    @media (max-width: 768px) {
        .slider_wrapper{
            display: none;
        }
        .slider__button{
            display: none;
        }
        .header{
            min-height: 90px;
        }

    }
    @media (max-width: 992px){
        .menu_wrapper{
            flex-wrap: wrap;
        }
        .logo {
            order: -1;
            width: 100%;
        }
        @media (max-width: 768px) {
            .logo {
                order: -1;
                width: 70%;
            }
            .basket{
                order: -1;
                text-align: right;
            }
        }
    }
        @media (max-width: 600px) {
            .basket
            .menu
            {
                display: none;
            }
    }
/* section the loop*/
.theloop .container
{
    flex-wrap:wrap;
    display: flex;
    background-color: #212121;
    color: #ffffff;
    height: 311px;
    justify-content:space-between; 
    align-items: center;  
border: 1px solid black;
width: 1920px;
}
.spiski{
    flex-wrap:wrap;
    text-align: center;
    width: 150px;
    height: 311px;
    background-color: #212121;
    flex-direction:row; 
    
}

.spiski li a{
    text-decoration: none;
    color: #fff;
}

.spiski h2{
    margin-bottom: 30px;
}
.spiski h3{
     margin-bottom: 30px;
}